{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": ".",
    "paths": {
      "#seedwork/*": ["./src/@seedwork/*"],
      "#category/*": ["./src/category/*"]
    }
  }
}
